body {
  background-color: #000;
}

:root {
  --primary-color: #a5a5a5;
  --secondary-color: #cbcbcb;
  --tertiary-color: #d7ff00;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/*navbar*/

.navbar-container {
  padding: 0px 20px;
}

.logo {
  max-height: 40px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23d7ff00' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-collapse {
  justify-content: space-between;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 34px;
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--tertiary-color);
}

.resume-btn {
  background-color: var(--tertiary-color);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0px 20px;
  border-radius: 13px;
  position: relative;
  overflow: hidden;
}

.resume-btn:hover {
  color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
  background-color: transparent;
  box-shadow: 0 0 30px #d9ff00;
}

.contactPage-container {
  display: block;
  margin: 0 auto;

  width: 100%;
  text-align: center;
  padding: 100px 40px 0px 40px;
}

h1 {
  font-size: 50px;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 13px;
  color: #6e6e6e;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.contactBtn {
  border: 1px solid var(--tertiary-color);
  background-color: transparent;
  color: var(--tertiary-color);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 10px 40px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 5px #d9ff00;
}

.contactBtn:hover {
  box-shadow: 0 0 30px #d9ff00;
}

.neon-text-accents {
  color: var(--tertiary-color);
}
.project-seperator {
  border: 0;
  height: 4px;
  background-color: #d9ff00;
  margin: 2% 40%;
  opacity: 1;
}

.project-seperator-spacer {
  padding: 80px 0 0 0;
}

/*footer*/

footer .social-links a {
  margin: 0 20px;
  margin-top: 60px;
  margin-bottom: 50px;
  color: var(--tertiary-color);
  background-color: #3f3f3f;
  font-size: 25px;
  padding: 2px 10px;
  border-radius: 10px;
}

footer .social-links a:hover {
  color: var(--primary-color);
}

.signature-text {
  text-align: center;
  font-size: 16px;
  color: #6b6b6b;
  padding: 0 0 80px 0;
  font-family: "Poppins", sans-serif;
}

.signature-text:hover {
  color: var(--tertiary-color);
}

a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 900px) {
  .navbar-container {
    padding: 20px 20px;
  }
  .logo {
    max-height: 40px;
  }
  #navbarTogglerDemo03 .nav-item {
    margin-top: 20px;
  }

  #navbarTogglerDemo03 .resume-btn {
    padding: 2px 10px;
    border-radius: 13px;
  }

  nav li {
    line-height: 15px;
  }

  .contactPage-container {
    padding: 40px 40px 0px 40px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 14px;
  }

  .contactBtn {
    font-size: 12px;
    border-radius: 15px;
  }
  footer .social-links a {
    margin: 0 20px;
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 20px;
  }
  .signature-text {
    font-size: 12px;
  }
  footer .social-links a {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .signature-text {
    font-size: 12px;
    padding: 0 0 50px 0;
  }

  .project-seperator {
    height: 3px;
    margin: 9% 20%;
  }

  .project-seperator-spacer {
    padding: 50px;
  }
}
